<div class="sticky-top d-block header" id="myHeader">
	<h2>Total discounted Price in CART = {{totalDiscountedPrice}}</h2>
	<h2>Your Savings = {{(totalPrice- totalDiscountedPrice)}}</h2>
</div>
<div class="content">
	<div *ngFor="let item of productList">
		<app-product-card [title]="item.name" [imageUrl]="item.imageUrl" [description]="item.description"
			[price]="item.price" [discountedPrice]="item.discountedPrice" (QuantityChange)="UpdateQuantityChange($event)"></app-product-card>
	</div>
</div>
